/* Global Styles */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.App {
    background-color: #2A2A2C;
    scroll-behavior: smooth;
}

.container {
    min-height: 400px;
    overflow-x: hidden;
}

.text-white {
    color: #FFFFFF;
}

.text-dark {
    color: #2A2A2C;
}

.header-container {
    position: relative;
    width: 100%;
    background-color: #2A2A2C;
}

.body-container {
    position: relative;
    background-color: #FFFFFF;
}

.footer-container {
    position: relative;
    background-color: #FB3E43;
    overflow: auto;
}

/* Scroller Styling */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background: #D8D8D8;
}

::-webkit-scrollbar-thumb {
    background: #FC3F44;
}

::-webkit-scrollbar-thumb:hover {
    background: #ad070c;
}

/* Scrollbar for firefox */
body {
    scrollbar-width: 7px;
    scrollbar-color: #D8D8D8 #FC3F44;
}

/* Header Styles */

.zeppeliner {
    display: block;
    margin: auto;
    width: clamp(100px, 40%, 600px);
}

.content-box-header {
    position: relative;
    margin: auto;
    padding: 0 1em;
    max-width: 700px;
}

.header-main {
    text-align: center;
    font-size: clamp(1.6rem, 1rem + 4.2vw, 4rem);
    margin-bottom: 0.8rem;
    letter-spacing: 2px;
}

.bullet-list {
    font-size: clamp(12px, 0.6rem + 1.2vw, 40px);
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 2em;
}

.paragraf-main {
    margin-top: 2em;
    text-align: center;
    font-size: clamp(10px, 0.42rem + 1.2vw, 40px);
    font-weight: 100;
}

.prevent-overlap {
    min-height: calc(150px + 1vh);
}



/* Body Styles */


@media (min-width: 40em) {
    .content-box-body {
        display: flex;
        align-items: center;
        position: relative;
        margin: auto;
        max-width: 60em;
    }
}



.body-section-container {
    margin-bottom: 2em;
}

.header-second {
    margin: 3em 0 1.5em 0;
    text-align: center;
    font-size: clamp(1.2rem, 1rem + 2vw, 3rem);
}

.header-third {
    font-size: clamp(12px, 0.6rem + 1.2vw, 40px);
    font-weight: bold;
    text-align: center;
    margin: 1em 0 1em 0;
}

.paragraf-second {
    font-size: clamp(10px, 0.45rem + 1.2vw, 40px);
    text-align: center;
}

.body-section {
    width: clamp(200px, 40%, 600px);
    margin: auto;
    margin-bottom: calc(2.5em + 2vw);
}

.illustration {
    display: block;
    margin: auto;
    width: clamp(100px, 35%, 600px);
}





/* Footer content */

.svg-prize-container {
    position: absolute;
    width: 100%;
    bottom: 5px;
}

.prize {
    display: block;
    margin: auto;
    width: clamp(50px, 7%, 100px);
}




/* ANIMATION TEST */

#animation-test-1 {
    opacity: 0;
    animation: dropIn 2s ease 1s forwards;
}

#animation-test-2 {
    opacity: 0;
    animation: dropIn 2s ease 2s forwards;
}

#animation-test-3 {
    opacity: 0;
    animation: dropIn 2s ease 3s forwards;
}

#animation-test-4 {
    opacity: 0;
    animation: dropIn 2s ease 4s forwards;
}

@keyframes dropIn {
    20% {
        opacity: 0;
        transform: translateX(-20%)
    }

    30%,
    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.test-arrow path {
    opacity: 0.5;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
}

@keyframes dash {
    to {
        opacity: 1;
        stroke-dashoffset: 0;
    }
}