

.start-navigation-container{
    position: absolute;
    width: 100%;
    bottom: 5px; 
}

.start-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    font-size: clamp(10px, 0.5rem + 1.2vw, 40px);
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

.dots{
    margin: -0.3rem;
}

.dot-1{
    font-size: 0.8em;
}

.dot-3{
    font-size: 1.1em;
}
